﻿@{
    ViewData["Title"] = "Logout";
}

@section Scripts
{
    <!-- Include Google Platform Library -->
    <script src="https://apis.google.com/js/platform.js"></script>

    <script src="~/js/googleSignOut.js" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">Logged Out</h1>

    <div class="container">
        <div class="row">
            <div class="col">

                <!--
                Initially, the #logout-pending paragraph will be visible.
                TODO: Hide #logout-pending and show #logout-complete using the corresponding javascript function.
                -->

                <p id="logout-pending">Logout pending...</p>
                <p id="logout-complete" style="display: none;">You have logged out successfully!</p>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-dark" asp-controller="Home" asp-action="Login">Back to Login</a>
            </div>
        </div>
    </div>

</div>