﻿<form class="text-left" action="/Home/Login" method="post">

    <div class="form-group row">
        <label for="username" class="col-form-label col-3 col-lg-2 offset-lg-3">Username</label>
        <div class="col-9 col-lg-4">
            <input type="text" id="username" name="username" class="form-control" autofocus />
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-form-label col-3 col-lg-2 offset-lg-3">Password</label>
        <div class="col-9 col-lg-4">
            <input type="password" id="password" name="password" value="" class="form-control" />
        </div>
    </div>

    <br />

    <div class="text-center">
        <input type="submit" name="" value="Login" class="btn btn-primary" />
    </div>
</form>