﻿@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>

    @if (ViewData["Message"] != null)
    {
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="alert alert-@ViewData["AlertType"]" role="alert">
                    @ViewData["Message"]
                </div>
            </div>
        </div>
    }

    <partial name="_LoginForm" />

</div>