﻿
@{
    ViewData["Title"] = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>


    @if (ViewData["isAlreadyRegistered"] == null)
    {
        <h1>Setup two factor authentication</h1>

        <h3>Scan QR-Code:</h3>
        <img src="@ViewData["QRUrl"]" alt="QRCode" style="height:300px;width:300px" />

        <h3>Or add manualy with code:</h3>
        <p style="font-size:20px;">@ViewData["ManualEntryKey"]</p>
    }
    else
    {
        <h1>Two Factor Authentication</h1>
    }


    @if (ViewData["Message"] != null)
    {
        <div class="row">
            <div>
                <div class="alert alert-@ViewData["AlertType"]" role="alert">
                    @ViewData["Message"]
                </div>
            </div>
        </div>
    }

    <form class="text-left" action="/Home/TwoFactorAuth" method="post">

        <div class="form-group">
            <label for="key" style="font-size:20px;">Enter key:</label>
            <div>
                <input type="text" id="key" name="key" class="form-control" autofocus style="width:200px" />
            </div>
        </div>

        <input type="text" id="key" name="qrCodeUrl" value="@ViewData["QRUrl"]" class="form-control" hidden />
        <input type="text" id="key" name="manualEntryKey" value="@ViewData["ManualEntryKey"]" class="form-control" hidden />
        <input type="text" id="key" name="username" value="@ViewData["Username"]" class="form-control" hidden />
        <div>
            <input type="submit" name="" value="Ok" class="btn btn-primary" />
        </div>
    </form>

</div>
