﻿@{
    ViewData["Title"] = "User Profile";
}

<div class="text-center">
    <h1 class="display-4">User Profile</h1>

    <div class="alert alert-success alert-dismissible" role="alert">
        Congratulations - you logged in successfully!
    </div>

    <div class="text-center">
        <a href="/Home" class="btn btn-primary" role="button">Logout</a>
    </div>


</div>