﻿@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Welcome on this little demo application.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Head over to <a asp-action="Login">Login</a> to login using a single sign-on provider.</p>
            </div>
        </div>
    </div>
</div>