﻿@{
    ViewData["Title"] = "Login";
}

@section Scripts
{
    <!-- Include Google Platform Library -->
    <script src="https://apis.google.com/js/platform.js"></script>

    <script src="~/js/googleSignIn.js" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">Login</h1>

    <div class="container">
        <div class="row">
            <p>
                Use one of the options below to sign-in with an existing user account you already have.<br/>
                You are not required to sign-up for this application. Instead, it will just use your identity provided by the chosen authentication service.
            </p>
        </div>
        <div class="row">
            <div class="col">

                <!--
                This is the google sign-in button.
                TODO: You might want to start implementing the onSuccess javascript function in the corresponding javascript file...
                -->
                <div class="g-signin2 mt-5" data-onsuccess="onSuccess"></div>

            </div>
        </div>
    </div>
</div>