html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html {
    color: white;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 150%;
}

#page-content {
    max-width: 960px;
    margin: auto;
    opacity: 0.99999999;
}

#page-content::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -999;
    pointer-events: none;
}

#page-content::after {
    content: '';
    z-index: -1;
    opacity: 0.75;
    background-color: black;
    background-image: url('../images/fireworks2.gif');
    background-size: contain;
    background-position: center bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

h1 {
    margin-top: 3.5rem;
    font-size: 56px;
    font-weight: normal;
}

section {
    margin: 40px;
}

section#claim p.small-text {
    font-size: 65%;
}

p {
    margin: 0;
}

p.small-text {
    font-size: 75%;
    font-style: italic;
}

p .present-title {
    display: block;
    margin: 10px 0;
    font-size: 150%;
    font-weight: bold;
}

#intro p:first-child::before,
#intro p:first-child::after {
    content: '';
    background-image: url('../images/fireworks.gif');
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 180%;
    background-position: center center;
}

#clickjack-button {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    align-items: center;
    pointer-events: none;
    font-size: 40%;
    color: white;
}

#clickjack-button div {
    width: 282px;
    height: 76px;
    font-size: 250%;
    font-weight: bold;
    background-color: #5a2375;
    box-shadow: 0 0 250px 50px rgba(98, 0, 209, 1);
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#gibz-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.01;
    z-index: -99;
}

#opacity-slider {
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 10%;
}